@model IEnumerable<DemoBug.Models.Bug>

@{
    ViewData["Title"] = "Index";
}

<a href="Bugs/Create">
    <button class="create-button" role="button">Create New</button>
</a>


<div class="pie" id="chartContainer">
    <ejs-accumulationchart id="container" title="">
        <e-accumulationchart-legendsettings visible="false">
        </e-accumulationchart-legendsettings>
        <e-accumulation-series-collection>
            <e-accumulation-series dataSource="ViewBag.dataSource" xName="severity" yName="Count" name="severity" innerRadius="35%">
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
    <h3>Testing</h3>
</div>


<table class="styled-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Severity</th>
            <th>Opened</th>
            <th>Status</th>
            <th>Resolved</th>
            <th>Assigned</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => items.Title)</td>
                <td>@Html.DisplayFor(modelItem => items.Description)</td>
                <td>@Html.DisplayFor(modelItem => items.severity)</td>
                <td>@Html.DisplayFor(modelItem => items.DateOpened)</td>
                <td>@Html.DisplayFor(modelItem => items.status)</td>
                <td>@Html.DisplayFor(modelItem => items.DateResolved)</td>
                <td>@Html.DisplayFor(modelItem => items.AssignedUser.Username)</td>
                <td>
                    <div class="button-group">
                        <button class="action-button-edit" onclick="location.href='@Url.Action("Edit", new { id = items.BugId })'">Edit</button>
                        <button class="action-button-details" onclick="location.href='@Url.Action("Details", new { id = items.BugId })'">Details</button>
                        <button class="action-button-delete" onclick="location.href='@Url.Action("Delete", new { id = items.BugId })'">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
