@model IEnumerable<DemoBug.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => items.Username)</td>
                <td>@Html.DisplayFor(modelItem => items.Email)</td>
                <td>
                    <div class="button-group">
                        <button class="action-button-edit" onclick="location.href='@Url.Action("Edit", new { id = items.UserId })'">Edit</button>
                        <button class="action-button-details" onclick="location.href='@Url.Action("Details", new { id = items.UserId })'">Details</button>
                        <button class="action-button-delete" onclick="location.href='@Url.Action("Delete", new { id = items.UserId })'">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
